body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0f0f; /* Dark background color */
    color: #ffffff; /* White text color */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #003366; /* Dark blue header background color */
    color: #ffffff;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

section {
    margin: 40px 0;
}

.species-container {
    display: flex;
    justify-content: space-between;
}

.species-item {
    width: 48%; /* Adjust as needed */
    margin-bottom: 20px;
}

.species-item img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #003366;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
}
